<div class="container">
  <div class="row">
    <h2>Collaborators:</h2>
    <% @wiki.collaborators.each do |collaborator| %>
      <p>
        <%= collaborator.user.email %>
        <!-- delete collaborator option only available to creator -->
        <% if @wiki.user == current_user %>
          <%= link_to "", [collaborator], method: :delete, class: 'btn btn-danger delete'%>
        <% end %>
      </p>
    <% end %>
  </div>
</div>